<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Miniwe (miniwe@Mail.ru)">
  <title>Cows Meter</title>
</head>

<body></body>
