.page-header {
    margin-top: 2rem;
    border-bottom: 1px dotted rgba(#fff, .2);
    h1 {
        font-size: 2.5rem;
        color: #c5ccd3;
        text-shadow: 1px 1px rgba(#bcc5cd, .2);
        text-transform: none;
        padding-bottom: 1rem;
        font-weight: normal;
    }
}
