.table thead {
    // border-top: 1px solid #dee3ea;
}

.table-hover tbody tr:hover>td,
.table-hover tbody tr:hover>th {
    // background-color: #f5fafc;
}

.table th.sortable {
    cursor: pointer;
}

.table th.sortable:hover {
    text-decoration: underline;
}

.table thead th {
    font-weight: bold;
    position: relative; // padding-bottom: 20px;
    // padding-top: 5px;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: top;
}

.table td {
    color: #fff; // border-top-color: #edf2f7;
    vertical-align: middle;
    &.active {
        background-color: rgba(#007aff, 0.5);
    }
}

.table th.align-right,
.table td.align-right {
    text-align: right; // padding-right: 10px !important;
}

table tr.first td {
    // border-top: 0 none;
}

table th span.line {
    position: absolute;
    top: 0; // left: -8px;
    // border-left: 1px solid #dee3ea; // height: 10px;
}

.dataTables_wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .table {
        background: rgba(255, 255, 255, .1);
    }
}

#content {
    .bg-light {
        background-color: rgba(60, 80, 90, 0.5) !important;
    }
}
