<template name="animalsList">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
      {{> labelsSelect}}
      <input name="start" id="start" type="date" class="form-control" aria-label="Record Date" />
      <input name="end" id="end" type="date" class="form-control" aria-label="Record Date" />
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="latest" name="latest">
        <label class="form-check-label" for="latest">
          {{_ 'Latest'}}
        </label>
      </div>
    </form>
  </nav>
  {{> animalsTable animals=animals totals=totals progress=progress}}
  <div class="row">
    <div class="col-3">
      <div class="dataTables_length" id="DataTables_Table_0_length">
        <label class="select_limit">{{_ 'Show'}}
          <select id="show_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select> {{_ 'entries'}}</label>
      </div>
    </div>
    <div class="col-2">
      <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">{{_ 'showing' from to count}}</div>
    </div>
    <div class="col-7">
      <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
        <ul class="pagination">
          <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">{{_ 'Previous'}}</a>
          </li>
          {{> loop pageCount=pageCount}}
          <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{_ 'Next'}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="loop">
  {{#each loopCount pageCount}}
    <li class="paginate_button page-item {{active inc @index}}">
      <a href="#{{inc @index}}" data-id="{{inc @index}}" tabindex="0" class="page-link">
        {{inc @index}}
      </a>
    </li>
  {{/each}}
</template>
