<template name="animalView">


  <canvas id="myChart" width="400" height="100"></canvas>

  {{> tabular table=TabularTables.Measurements selector=selector class="table table-striped table-condensed"}}
</template>
