<template name="animalsTable">
  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <table class="table table-striped table-condensed dataTable no-footer dtr-inline" id="DataTables_Table_0"
      role="grid">
      <tfoot></tfoot>
      <thead>
        <tr role="row">
          <th tabindex="0">Label</th>
          <th tabindex="0">First Date</th>
          <th tabindex="0">First Weight</th>
          <th tabindex="0">Last Date</th>
          <th tabindex="0">Last Weight</th>
          <th tabindex="0">Increased</th>
        </tr>
        <tr role="row">
          <td class="lead">{{_ 'Records'}}: {{totals.records}}</td>
          <td class="lead">{{_ totals.first_data}}</td>
          <td class="lead">{{formatWeight totals.first_weigth}}</td>
          <td class="lead">{{_ totals.last_data}}</td>
          <td class="lead">{{formatWeight totals.last_weigth}}</td>
          <td class="lead">{{formatWeight totals.increased}}</td>
        </tr>
      </thead>
      <tbody>
        {{#each animals}}
          <tr role="row" class="row-link" data-id="{{label}}">
            <td tabindex="0">{{label}}</td>
            <td>{{firstDate}}</td>
            <td>{{formatWeight firstWeight}}</td>
            <td class="{{activeCell lastDate}}">{{lastDate}}</td>
            <td>{{formatWeight lastWeight}}</td>
            <td>{{formatWeight increased}}</td>
          </tr>
        {{else}}
          <tr class="odd">
            <td valign="top" colspan="6" class="dataTables_empty">No data available in table</td>
          </tr>
        {{/each}}
        {{#if progress}}
          <tr class="odd">
            <td valign="top" colspan="6" class="dataTables_empty">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</template>
