<template name="homePage">
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{_ 'Site Title'}}</h1>
    <p>{{_ 'Site Description'}}</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>{{_ 'Animals'}}</h2>
      <p>{{_ 'Count'}}: {{animalsCount}} </p>
      <p>{{_ 'Last update'}}: {{animalsDate}} </p>
      <p>
        <a class="btn btn-secondary" href="{{pathFor 'animals'}}" role="button">{{_ 'Show table'}} &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>{{_ 'Measurements'}}</h2>
      <p>{{_ 'Records'}}: {{measurementsCount}} </p>
      <p>{{_ 'Last update'}}: {{measurementsDate}} </p>
      <p>
        <a class="btn btn-secondary" href="{{pathFor 'measurements'}}" role="button">{{_ 'Show table'}} &raquo;</a>
      </p>
    </div>
    {{#if isInRole 'admin'}}
      <div class="col-md-4">
        <h2>{{_ 'Users'}}</h2>
        <p>{{_ 'Count'}}: {{usersCount}} </p>
        <p>{{_ 'Last registered'}}: {{usersDate}} </p>
        <p>
          <a class="btn btn-secondary" href="{{pathFor 'users'}}" role="button">{{_ 'Show table'}} &raquo;</a>
        </p>
      </div>
    {{/if}}
  </div>

  <hr>

</div>
<!-- /container -->


</template>
