<template name="header">
<nav class="top-nav navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{{pathFor 'root'}}">
    <img src="/img/logo.png" alt="">
  </a>

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar"
    aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
    <i class="fa fa-bars"></i>
  </button>
  <div class="d-none d-sm-block ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-block">
        <a class="nav-link" href="{{pathFor 'profile'}}">
          {{currentUser.username}}
        </a>
      </li>
      <li class="nav-item d-none d-sm-block">
        <a class="nav-link logout" href="{{pathFor 'logout'}}">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
</template>
