$sidebarBgColor: #f7f7f7;
$sidebarActiveColor: rgba(200, 200, 200, 0.4);
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 4rem 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999; // background: $sidebarBgColor;
    color: #fff;
    transition: all 0.3s; // border-right: 1px solid #dae3e9;
    // border-top: 1px solid #dae3e9;
    // box-shadow: inset -3px 3px 3px -2px #f1f1f3;
    // border-radius: 0px 0px 0px .5rem;
}

#sidebar.active {
    margin-left: -20rem;
}

#sidebar .sidebar-header {
    padding: 2rem;
    background: darken($sidebarBgColor, 20%);
}

#sidebar ul.components {
    padding: 2rem 0;
}

#sidebar ul p {
    color: #fff;
    padding: 1rem;
}

#sidebar ul li a {
    padding: 1rem;
    display: block;
    color: rgba(255, 255, 255, 0.9);
}

#sidebar ul li a:hover {
    color: lighten($sidebarBgColor, 10%);
    background: $sidebarActiveColor;
}

#sidebar ul li.active {
    color: #fff;
    background: rgba(#414c5e, 0.75);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff; // background: darken($sidebarBgColor, 40%);
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 2rem;
    font-family: 'Glyphicons Halflings';
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    padding-left: 3rem !important;
    background: opacity(0.6);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 20rem);
    padding: 2rem;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -20rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        padding: 1rem;
    }
    #content.active {
        width: calc(100% - 20rem);
    }
    #sidebarCollapse span {
        display: none;
    }
}

a[aria-expanded="false"]:before {
    font-family: FontAwesome;
    content: "\f053";
}

a[aria-expanded="true"]:before {
    font-family: FontAwesome;
    content: "\f078";
}
