<template name="sidebar">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <a href="{{pathFor 'animals'}}" class="nav-link">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          {{_ 'Main Table'}}</a>
      </li>
      <li>
        <a href="{{pathFor 'measurements'}}" class="nav-link">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
          {{_ 'Measurements'}}</a>
      </li>
      {{#if isInRole 'admin'}}
      <li>
        <a href="#pageSubmenu-2" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-lock" aria-hidden="true"></i>
          {{_ 'Admin'}}</a>
        <ul class="collapse list-unstyled" id="pageSubmenu-2">
          <li>
            <a href="{{pathFor 'users'}}" class="nav-link">
              <i class="fa fa-users" aria-hidden="true"></i>
              {{_ 'Users'}}</a>
          </li>
          <li>
            <a href="{{pathFor 'settings'}}" class="nav-link">
              <i class="fa fa-gears" aria-hidden="true"></i>
              {{_ 'Settings'}}</a>
          </li>
          <li>
            <a href="{{pathFor 'logs'}}" class="nav-link">
              <i class="fa fa-gears" aria-hidden="true"></i>
              {{_ 'Logs'}}</a>
          </li>
        </ul>
      </li>
      {{/if}}
      <li>
        <a href="{{pathFor 'profile'}}" class="nav-link">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{_ 'Profile'}}</a>
      </li>
      <li>
        <a href="{{pathFor 'logout'}}" class="nav-link logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          {{_ 'Logout'}}</a>
      </li>
    </ul>
  </nav>
</template>
