<template name="guestLayout">
  <div class="guest-layout-wrapper">
    <div class="form-wrapper">
      <div class="img-wrapper">
        <img class="logo" src="/img/logo-white.png">
      </div>
      {{> atForm}}
    </div>
  </div>
</template>
