.guest-layout-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent url(/img/landscape.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    max-width: 100%;
    width: 24rem;
}

.img-wrapper {
    display: flex;
    justify-content: center;
}

.at-form {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65);
}
