<template name="mainLayout">
  {{> header}}
  <div class="wrapper">
      <!-- Sidebar Holder -->
      {{> sidebar}}

      <!-- Page Content Holder -->
      <div id="content">
        <main role="main">
          {{> yield}}
        </main>

        <footer class="container">
          <hr>
          <p>&copy; {{_ 'Site Title'}} 2018</p>
        </footer>
      </div>
  </div>
</template>
