@import "./scss/glyphicon";
@import "./scss/tables";
@import "./scss/page-header";
@import "./scss/row";
@import "./scss/select2";
body {
    font-size: 14px;
    background-color: #414e60 20%;
    background-image: radial-gradient(farthest-side ellipse at 10% 0, #414e60 20%, #94a3b1);
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1);
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1);
    background-attachment: fixed, fixed;
    color: #fff;
}

#sidebar,
#content {
    padding-top: 3.4rem !important;
}

.has-error {
    .help-block {
        color: red;
        font-weight: bold;
        font-size: .8em;
    }
}

.jumbotron {
    background-color: rgba(#424f61, .2);
}

.btn-outline-secondary {
    color: #f7f7f7;
    border-color: #f7f7f7;
}

#myChart {
    background: #fff;
}

.navbar {
    input.form-control {
        margin-left: 1rem;
    }
}

.form-check {
    margin-left: 1rem;
}

.list-group-item {
    background-color: rgba(#fff, 0.2);
    .panel-heading {
        display: none;
    }
}

label.select_limit {
    display: flex;
    select {
        width: 4rem;
        margin: 0 1rem;
    }
}

.page-header h1::first-letter {
color: #fff;
}

.lead {
    color: #ffffb1 !important;
}
