<template name="sList">

    <nav class="navbar navbar-light bg-light justify-content-between">
      <form class="form-inline">
      </form>

      <a href="{{pathFor 'settings.new'}}"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">New Record</button></a>
    </nav>
    {{> tabular table=TabularTables.Settings selector=selector class="table table-striped table-condensed"}}
</template>
