<template name="logsCell">
  <div class="btn-group" role="group">
    {{!-- <a href="{{pathFor 'logs.edit' } }" class="btn btn-outline-secondary edit">
        <i class="fa fa-edit"></i>
    </a> --}}
    <button type="button" class="btn btn-outline-danger remove">
      <i class="fa fa-remove"></i>
    </button>
  </div>
</template>
