<template name="labelsSelect">
  <select name="labels" id="labels">
    <option value=""> </option>
    {{#each labels}}
      <option value="{{label}}">{{label}}</option>
    {{/each}}
  </select>
</template>
