<template name="mList">

    <nav class="navbar navbar-light bg-light justify-content-between">
      <form class="form-inline">
        {{> labelsSelect}}
        <input name="start" id="start" type="date" class="form-control" aria-label="Record Date"/>
        <input name="end" id="end" type="date" class="form-control" aria-label="Record Date"/>

        {{!-- <input type="text" id="min" name="min" class="form-control" placeholder="Min weight" aria-label="Min Weight" />
        <input type="text" id="max" name="max" class="form-control" placeholder="Max weight" aria-label="Max Weight" /> --}}
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" id="aggregate" name="aggregate">
          <label class="form-check-label" for="aggregate">
            {{_ 'Aggregate'}}
          </label>
        </div>

      </form>

      <a href="{{pathFor 'measurements.new'}}"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">{{_ 'New Record'}}</button></a>
    </nav>

    {{#if aggregated}}
      {{> tabular table=TabularTables.MeasurementsAggregated selector=selector class="table table-striped table-condensed"}}
    {{else}}
      {{> tabular table=TabularTables.Measurements selector=selector class="table table-striped table-condensed"}}
    {{/if}}

</template>
